* {
    margin: 0;
    padding: 0;
}
.main{
    text-align: center;
    width: 50%;
    margin: 2%;
    
}
.chat{
    border: 3px solid black;
    width: 100%;
    height: 550px;
    background-color: #fff;
    padding: 20px 10px;
    /* 縦スクロールの設定 */
    overflow-y: scroll;
    }
ul{
    height: auto;
    list-style: none;
}
li{
    width: 96%;
    padding: 3px 2%;
}
#system{
    text-align: left;
    background-color: beige;
}
#user{
    text-align: right;
    background-color: darkgrey;
}
img{
    width: auto;
    height: 180px;
}



/* 親要素であるulにflexboxを適用 */
.chat-list {
    display: flex;             /* フレックスボックスを有効化 */
    flex-wrap: wrap;           /* アイテムがコンテナを超えた場合に折り返す */
    justify-content: space-around;  /* アイテム間に均等にスペースを空ける */
    padding: 0;
    list-style-type: none;
}

/* 画像を含むli要素のスタイル */
.chat-list #system {
    width: 45%;                /* 2列にしたいので、45%の幅を設定 */
    margin-bottom: 10px;       /* 各アイテム間にスペースを空ける */
    text-align: center;        /* 中央揃え */
}

/* 画像自体のスタイル */
.chat-list img {
    max-width: 100%;           /* 画像が親要素の幅に収まるように */
    height: auto;              /* 画像の高さは自動で調整 */
}

.icon {
    height: 50px;
    width: 50px;
    float: left;
}

.login_info {
    float: right;
}

/* position:fixed;
background:#56072f;
height:100%;
width:200px;
display:flex;
justify-content: center;
align-items: center;
overflow-y: scroll; */
