* {
    margin: 0;
    padding: 0;
}
.main{
    text-align: center;
    width: 50%;
    margin: 2%;
}
.chat{
    border: 3px solid black;
}
ul{
    height: auto;
    list-style: none;
}
li{
    width: 96%;
    padding: 3px 2%;
}
#system{
    text-align: left;
    background-color: beige;
}
#user{
    text-align: right;
    background-color: darkgrey;
}