{% extends "favorite/base.html" %}
{% load static %}
{% block title %}chat{% endblock %}
{% block contents %}
<div class="main">
    <h3>お気に入りのレシピリンク一覧</h3>
    <div class="favorite">
    <ul>
    {% for favorite in object_list %}
        {% if not favorite.is_delete %}
        <li>{{ favorite.id }}</li>
        <li>{{ favorite.title }}</li>
        <li>{{ favorite.link }}</li>
        <img src="{{ favorite.img_link }}">
        <li><a class="delete" href="{{favorite.id}}/delete/">○</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    <script src="{% static 'favorite/favorite.js' %}"></script>
</div>
{% endblock %}